:root{
    --background: #260d33;
    --backHeader: #003f694f;
    --azulDark: #003f69;
    --azul: #106b87;
    --azulClaro: #157a8c;
    --gris: #b3aca4;
    --grisClaro: #dbc1a3;
}
@font-face {
    font-family: "gothan";
    src: url(/Gotham-Black.otf);
}