.stats{
  
  .contentStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    .statsContainer{
      background: linear-gradient(90deg, #00000000, #3b330060 10%, #3b330060 95%, #ff000000 100%);
      padding: 16px 64px;
      width: 90%;

      .boxs{
        display: flex;
        justify-content: space-around;

        .box{
          padding: 8px;
          width: 100%;
          height: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 150ms ease-out;

          .icon{
            font-size: 120px;
          }

          &:hover{
            transform: scale(1.1);
            cursor: pointer;
            background: radial-gradient(ellipse at center, #ffdd006b, #00000000 70%, #00000000 100%);
          }
        }

        .Iconhtml{color: var(--html);}
        .Iconcss{color: var(--css);}
        .Iconjs{color: var(--js);}
        .Iconreact{color: var(--react);}
        .Iconphp{color: var(--php);}
        .Iconsql{color: var(--sql);}
        .Icongit{color: var(--git);}
        .Iconfigma{color: var(--figma);}
        .Icontrello{color: var(--trello);}
        .Iconnode{color: var(--node);}
      }
    }
  }
}