.separadorFooter{
    height: var(--heightFooter);
}
footer {
    position: fixed;
    z-index: 1;
    width: 90vw;
    max-width: 500px;
    height: var(--heightFooter);
    background-color: var(--azulOscuro);
    color: white;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 20px 0px #ffdf74;
    border-radius: 20px 20px 0 0;
    user-select: none;
  
    .web h4 {
      margin: 0;
      position: relative;
      top: 16px;
    }
  
    .redes {
      width: 150px;
      height: 100%;
      display: flex;
      justify-content: space-around;
  
      a .icon {
        font-size: 32px;
        position: relative;
        top: 8px;
        color: #777;
        transition: 200ms;
        display: text;
  
        &:hover {
          &.red1 {
            color: #361c5f;
            background-clip: text;
            text-shadow: 0px 0px 10px #361c5f;
          }
  
          &.red2 {
            color: var(--linkedin);
            background-clip: text;
            text-shadow: 0px 0px 10px #0e76a880;
          }
  
          &.red3 {
            color: #f66;
            background-clip: text;
            text-shadow: 220px 220px 100px #fd1d8680;
          }
        }
      }
    }
  
    .vida {
      display: flex;
      gap: 12px;
  
      .texto {
        display: flex;
        align-items: center;
        justify-content: end;
  
        p {
          margin: 0;
          text-align: end;
        }
      }
  
      .tiempo p {
        margin: 0;
        width: 100%;
        position: relative;
        top: 2px;
        text-align: center;
      }
    }
  
    &:hover {
      box-shadow: 0px 0px 28px 0px #ffdf74;
    }
  }