header{
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    user-select: none;
}
header a{
    text-decoration: none;
}
header .kasela{
    display: flex;
    text-decoration: none;
}
header .kasela img{
    position: relative;
    width: 100px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #ffdf74;
    z-index: 1;
}
header .titulo{
    border-radius: 16px;
    background-color: var(--azulOscuro);
    height: 50px;
    position: relative;
    top: 12px;
    padding-left: 15px;
    padding-right:15px;
    box-shadow: 0px 0px 10px 0px #ffdf74;
}
header .titulo h1{
    background: linear-gradient(#fffd00 40%,#998200 80%);
    background-clip: text;
    color: transparent;
    margin: 0;
    position: relative;
    top: 2px;
}
header .kasela img:hover{
    box-shadow: 0px 0px 24px 0px #ffdf74;
    transition: 150ms;
}
header .kasela .titulo:hover{
    box-shadow: 0px 0px 24px 0px #ffdf74;
    transition: 150ms;
}
nav .opciones{
    display: flex;
    background-color: var(--azulOscuro);
    height: 50px;
    position: relative;
    width: 480px;
    box-shadow: 0px 0px 10px 0px #ffdf74;
    border-radius: 16px;
    top: 12px;
    right: 10px;
    justify-content: space-around;
}
nav .opciones a{
    position: relative;
    color: white;
    text-decoration: none;
    top: 7px;
    display: block;
    height: 36px;
    padding: 0 10px;
    border-radius: 10px;
}
nav .opciones a p{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
nav .opciones a:visited{
    color: white;
}
nav .opciones a:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transition: 150ms;
}
nav .opciones:hover{
    box-shadow: 0px 0px 24px 0px #ffdf74;
    transition: 150ms;
}
.separadorHeader{
    width: 100%;
    height: 100px;
}
.subTitulo{
    background: linear-gradient(#fffd00 40%,#998200 80%);
    background-clip: text;
    color: transparent;
    font-size: 48px;
    margin: 0;
}
