.Content > header {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    user-select: none;
  
    a {
      text-decoration: none;
    }
  
    .kasela {
      display: flex;
      text-decoration: none;
  
      img {
        position: relative;
        width: 100px;
        margin: 10px;
        border-radius: 30px;
        box-shadow: 0px 0px 10px 0px #ffdf74;
        z-index: 1;
  
        &:hover {
          box-shadow: 0px 0px 24px 0px #ffdf74;
          transition: 150ms;
        }
      }
  
      .titulo {
        border-radius: 16px;
        background-color: #0C0E1B;
        height: 50px;
        position: relative;
        top: 12px;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0px 0px 10px 0px #ffdf74;
  
        h1 {
          background: linear-gradient(#fffd00 40%, #998200 80%);
          background-clip: text;
          color: transparent;
          margin: 0;
          position: relative;
          top: 2px;
        }
  
        &:hover {
          box-shadow: 0px 0px 24px 0px #ffdf74;
          transition: 150ms;
        }
      }
    }
    
    nav {
      display: flex;
      background-color: #0C0E1B;
      height: 50px;
      position: relative;
      width: fit-content;
      box-shadow: 0px 0px 10px 0px #ffdf74;
      padding: 0 6px;
      border-radius: 16px;
      top: 12px;
      right: 10px;
      justify-content: space-around;
  
      a {
        position: relative;
        color: white;
        text-decoration: none;
        top: 7px;
        display: block;
        height: 36px;
        padding: 0 10px;
        border-radius: 10px;
        
        p {
          margin: 0;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
  
        &:visited {
          color: white;
        }
  
        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
          color: black;
          transition: 150ms;
        }
      }

      .lenguage{
        position: relative;
        display: flex;
        align-items: center;
        padding: 6px;
        gap: 6px;
        margin: 6px 0;
        border-radius: 10px;

        span{
          width: 2px;
          height: 80%;
          background-color: #ddd;
          transform: rotateX(0deg);
          transition: 150ms;
        }

        div{
          position: relative;
          width: 24px;
          height: 24px;
          
          img{
            position: absolute;
          }

          .spamActive{
            position: absolute;
            display: block;
            width: 24px;
            height: 20px;
            opacity: 0;
            border-radius: 4px;
            top: 2px;
            background-color: #ffd700;
            filter: blur(2px);
          }
        }

        .active .spamActive{
          opacity: 1;
        }
  
        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
          transition: 150ms;

          span{
            background-color: #000;
            width: 1px;
          }

          div{
            .spamActive{
              opacity: 1;
            }
          }
        }
      }
  
      &:hover {
        box-shadow: 0px 0px 24px 0px #ffdf74;
        transition: 150ms;
      }
  }

  .navResponsive{
    position: relative;
    background-color: #857100c0;
    background-color: #85710000;
    max-width: 100%;
    width: 104px;
    height: max-content;
    border-radius: 0 0 0 8px;
    
    .btnNav{
      position: relative;
      width: 80px;
      height: 80px;
      margin: 12px;
      background-color: #22222290;
      border-radius: 16px;
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: 100ms;
      
      div{
            background-color: gold;
            width: 48px;
            height: 8px;
            position: absolute;
            border-radius: 500px;
            transform: translateY(-50%);
            transition: 250ms;
          }
          
          div:nth-child(1){
            top: 25%;
          }
          
          div:nth-child(2){
            top: 50%;
        }

        div:nth-child(3){
            top: 75%;
        }
    }

    .opciones{
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      display: none;
      user-select: none;

      a{
        background-color: #ffd70000;
        border-radius: 10px;
        
        p{
          position: relative;
          left: 0;
          color: #000;
          font-size: 28px;
          font-weight: 600;
          margin: 0;
          transition: 150ms;
        }

        &:hover{
          background-color: #00000080;
          
          p{
            color: gold;
            left: 24px;

            &::before{
              content: "-";
            }
          }

        }
      }

      .lenguage{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;
        padding: 6px;
        gap: 6px;
        margin: 6px 0;
        border-radius: 10px;

        span{
          width: 2px;
          height: 80%;
          background-color: #ddd;
          transform: rotateX(0deg);
          transition: 150ms;
        }

        div{
          position: relative;
          width: 48px;
          height: 48px;
          
          img{
            position: absolute;
          }

          .spamActive{
            position: absolute;
            display: block;
            width: 48px;
            height: 40px;
            opacity: 0;
            border-radius: 4px;
            top: 4px;
            background-color: #ffe762;
            filter: blur(8px);
          }
        }

        .active .spamActive{
          opacity: 1;
        }
  
        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
          transition: 150ms;

          span{
            background-color: #000;
            width: 1px;
          }

          div{
            .spamActive{
              opacity: 1;
              background-color: #80732e;
            }
          }
        }
      }
    }
  } 
}

.separadorHeader {
  width: 100%;
  height: 120px;
}