@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --azulOscuro: #0C0E1B;
    --github: #130b20;
    --linkedin: #0e76a8;
    --instagram: linear-gradient(130deg,#833ab4,#fd1d1d,#fcb045);
    --cv: peru;
    --whatsapp: #25d366;
    --gmail: #ff4949;
    --heightFooter: 50px;

    --html: #ff5733;
    --css: rebeccapurple;
    --js: #f7df1e;
    --php: #777BB4;
    --react: #61DAFB;
    --sql: #4479a1;
    --git: #f05032;
    --figma: #f24e1e;
    --trello: #0079bf;
    --node: #84ba64;
}
*::selection{
    background-color: gold;
    color: black;
}
* img{
    user-select: none;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #010012;
    overflow-x: hidden;
    width: 100vw;
    font-family: "K2D";
    min-height: 100%;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

main{
    position: relative;
    color: white;
    font-family: "K2D", sans-serif;
    font-weight: 900;
    font-style: normal;
    
}

.Content{
    position: sticky;
    min-height: 100vh;
    height: 100%;
}

.content{
    position: relative;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
    padding: 24px;
}

.espaciadorSections{
    position: absolute;
    top: -80px;
    width: 100%;
    height: 120px;
    z-index: -100;
}

section{
    position: relative;
}

.htmlCss p{
    text-decoration: none;
    background-image: linear-gradient(to right, #ff7b00 55%, #0099ff 55%);
    background-position: 0 100%; 
    background-size: 90px 2px; 
    background-repeat: no-repeat;
}
.htmlCss p::selection{
    background-color: #ff7b00;
    color: black;
}
.js p{
    text-decoration: none;
    background-image: linear-gradient(to right, #ffd900 55%, #ffd900 55%);
    background-position: 0 100%; 
    background-size: 80px 2px; 
    background-repeat: no-repeat;
}
.js p::selection{
    background-color: gold;
    color: black;
}
.php p{
    text-decoration: none;
    background-image: linear-gradient(to right, #9b2fff 55%, #9b2fff 55%);
    background-position: 0 100%; 
    background-size: 40px 2px; 
    background-repeat: no-repeat;
}
.php p::selection{
    background-color: #9b2fff;
}
.sql p{
    text-decoration: none;
    background-image: linear-gradient(to right, #006983 55%, #ff8800 55%);
    background-position: 0 100%; 
    background-size: 56px 2px; 
    background-repeat: no-repeat;
}
.sql p::selection{
    background-color: #006983;
}
.react p{
    text-decoration: none;
    background-image: linear-gradient(to right, #3ed8ff 55%, #3ed8ff 55%);
    background-position: 0 100%; 
    background-size: 56px 2px; 
    background-repeat: no-repeat;
}
.react p::selection{
    background-color: #29d4ff;
}

.subTitulo {
    background: linear-gradient(#fffd00 40%, #998200 80%);
    background-clip: text;
    color: transparent;
    font-size: 48px;
    margin: 0;
  }
  
  @keyframes abrirNavBar1 {
      0%{
          top: 5px;
        }
    50%{
        top: 13px;
    }
    100%{
        top: 13px;
        transform: rotate(45deg);
    }
}
@keyframes abrirNavBar3 {
    0%{
        top: -5px;
    }
    50%{
        top: -13px;
    }
    100%{
        top: -13px;
        transform: rotate(-45deg);
    }
}
@keyframes cerrarNavBar1 {
    0%{
        top: -5px;
    }
    50%{
        top: -13px;
    }
    100%{
        top: -13px;
        transform: rotate(0deg);
    }
}
@keyframes cerrarNavBar3 {
    0%{
        top: 5px;
    }
    50%{
        top: 13px;
    }
    100%{
        top: 13px;
        transform: rotate(0deg);
    }
}
